.pokemon-item {
    transition: ease transform 0.5s; 
    &:hover {
        transform: scale(1.1);
    }
    padding: 15px 15px 35px 15px;
    border: 2px solid black;
    border-radius: 15px;
    width: 184px;
    margin-right: 30px;
    margin-bottom: 30px;

    &:nth-child(3n) {
        margin-right: 0;
    }

    @media (max-width: 1203px) {
        margin-right: 20px;
        &:nth-child(3n) {
            margin-right: 20px;
        }
    }

    @media (max-width: 650px) {
        margin-right: 5px;
        &:nth-child(3n) {
            margin-right: 5px;
        }
        width: 160px;
        margin-bottom: 15px;
        padding-bottom: 15px;
    }

    @media (max-width: 550px) {
        margin-right: 0;
        &:nth-child(3n) {
            margin-right: 0;
        }
    }

    @media (max-width: 400px) {
        width: 120px;
        &:hover {
            transform: scale(1);
        }
    }

    &-img {
        cursor: pointer;
        @media (max-width: 650px) {
            margin-bottom: 0;
        }
        img {
            @media (max-width: 650px) {
                width: 120px;
                height: 120px;
            }

            @media (max-width: 400px) {
                width: 93px;
                height: 93px;
            }

            width: 150px;
            height: 150px;
        }
        margin-bottom: 10px;
    }

    &-name {
        @media (max-width: 650px) {
            font-size: 20px;
        }
        @media (max-width: 400px) {
            font-size: 16px;
        }
        text-align: center;
        font-size: 22px;
        font-weight: 700;
        margin-bottom: 5px;
    }

    &-types {
        @media (max-width: 650px) {
            width: 130px;
            padding: 0;
        }
        @media (max-width: 400px) {
            width: 90px;
            justify-content: center;
        }
        display: flex;
        flex-wrap: wrap;
        width: 150px;
        padding: 0 3px;
        .pokemon-type {
            font-size: 16px;
            padding: 5px 10px;
            border-radius: 5px;
            border: 1px solid;
            color: black;
            margin-bottom: 5px;
            &:nth-child(odd){
                margin-right: 10px;
            }

            @media (max-width: 400px) {
                &:nth-child(odd){
                    margin-right: 0;
                }
                margin-right: 0;
            }

            &.yellow {
                background: yellow;
                border-color:  yellow;
            }
            &.orange {
                background: orange;
                border-color:  orange;
            }
        }
    }
}

.pokemon-selected-item {
    margin: 0 auto;
    padding: 15px 15px 25px 15px;
    border: 2px solid black;
    border-radius: 15px;
    width: 284px;
    position: sticky;
    top: 10%;

    @media (max-width: 650px) {
       width: 190px;
       padding: 15px;
    }

    @media (max-width: 550px) {
        margin: 0;
     }

    &-img {
        @media (max-width: 650px) {
            margin-bottom: 0;
        }

        img {
            @media (max-width: 650px) {
                width: 150px;
                height: 140px;
            }
            width: 250px;
            height: 200px;
        }
        margin-bottom: 15px;
    }

    &-name {
        text-align: center;
        font-size: 26px;
        font-weight: 700;
        margin-bottom: 10px;
    }

    &-characteristics {
        table {
            width: 100%;
        }

        td {
            @media (max-width: 650px) {
                padding: 2px 0;
            }
            text-align: center;
            padding: 5px 0;
        }

        table, td {
            border: 2px solid black;
            border-collapse: collapse;
          }
    }
}

